body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #F4CCE9;
}

.container {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #a55b7e;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

input, select, button {
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}

button {
    background-color: #f8d5ec;
    color: #D17D98;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
}

button:hover {
    background-color: #56021F;
}

.result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
