.p1{
    font-family: Algerian;
    color: rgb(255, 255, 255);
}
.pingvins{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: brown;
}
#id1{
    color: red;
}
.td{
    color: aquamarine;
}